.flexColChild--nav-menu{
    border-radius: 4px;
    border: 1px solid #bbbb;
    padding: 0 20px 20px 20px;
    margin: 20px; 
    height: 100%;

}
.flexColChild .flexColChild--categories-column{
    max-height: fit-content;
}
.flexRow--home{
    max-width: 1300px;
    margin: 0 auto;
}

.flexRowContent--price{
    justify-content: center;
}
