.flexColChild--nav-menu{
    border-radius: 4px;
    border: 1px solid #bbbb;
    padding: 0 20px 20px 20px;
    margin: 20px; 

}

.flexColChild--categories-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexRow--home{
    max-width: 1140px;
    margin: 0 auto;
}

.flexRowContent--price{
    justify-content: center;
}

.flexRow--menu-row{
    max-width: 1200px;
    margin: 0 auto
}