.paragraph--text__top-bar{
    font-size: 20px;
    color:white;
    
}
.image--cart__top-bar{
    width: 24px;
}.paragraph--login__top-bar{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    color:white;
}
